#red {
    color: #ff0000;}
body {
    background: linear-gradient(#ffeb6d, #ed3110);}
#basicText {
    background-color: #ffeb6d;}
#textMods {
    background-color: #fcd66c;}
#abbr {
    background-color: #fcc26c;}
#putin {
    background-color: #f7ad5d;}
#myPage {
    background-color: #f7a05d;}
#table {
    background-color: #f77b2e;}
#quiz {
    background-color: #f75e22;}
#iframes {
    background-color: #f24b1d;}
#videoTest {
    background-color: #ed3110;}
h1, h2, h3 {
    color: #56b4ef;}
p {
    color: #301b02;}
