body {
    background-color: black;
    background-image: url("../images/home_background.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 111%;
    overflow: hidden;
    margin: 0px auto;
}

.header {
    position: relative;
    bottom: -50px;
    left: 10px;

    font-family: 'Droid Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 3em;
}
.header h1 {
    font-size: 375%;
}
