:root {
    --flexoki-black:           #100F0F;
    --flexoki-paper:           #FFFCF0;
    --flexoki-blue-400:        #4385BE;
    --flexoki-purple-400:      #8B7EC8;
    --main-text-color: var(--flexoki-black);
    --main-link-color: var(--flexoki-blue-400);
    --main-link-visited-color: var(--flexoki-purple-400);
    --main-bg-color: var(--flexoki-paper);
    --main-font-size: calc(1.5rem + 0.25vw);
    --main-line-height: 1.5;
    --main-font: sans-serif;
    --width-normal: 35em;
    --width-wide: 55em
}
body {
    margin-top: 2vw;
    padding: 2rem 0 0;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    color: var(--main-text-color);
}
a {
    color: var(--main-link-color);
}
a:visited {
    color: var(--main-link-visited-color);
}
h1 {
    line-height: 1.25;
    margin: 0.25rem;
}
main {
    margin: 0 auto;
    max-width: var(--width-wide);
    width: var(--width-normal);
}

img {
    width: 100%;
}

@media (max-width: 860px) {
    :root {
        --width-normal: 88vw;
        --width-wide: 100vw;
        --input-width: 100%;
        --heading-weight: 600;
    }
}
