<!DOCTYPE html>
<html>
    <head>
        <script src="js/analytics.js"></script>

        <meta name="description" content ="Homepage of the personal and business website of Joseph &#34Jake&#34 H. Deerin">
        <title>{{ page.title }} - {{ site.title }}</title>
        <link href="css/overallStyle.css" type="text/css" rel="stylesheet">
        <link href="css/navStyle.css" type="text/css" rel="stylesheet">

        <link href="css/home.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300|Droid+Sans:300" rel="stylesheet">
    </head>
    <body>
        {% include primaryNavigation.html %}
        {{ content }}
    </body>
</html>
